*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.city{
  height: 100vh;
  width: calc(100% - 20px);
  background-size: cover;
  margin: 10px;
}

.funes{
  background-image: url(../img/funes.jpg);
}

.london{
  background-image: url(../img/london.jpg);
}

.wellington{
  background-image: url(../img/wellington-nz.jpg);
}
